venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
/build/
/develop-eggs/
/dist/
/downloads/
/eggs/
/.eggs/
/lib/
/lib64/
/parts/
/sdist/
/var/
/wheels/
/share/python-wheels/
/htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.mo
.pot
.git
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
/docs/_build/
